.testimonials-carousel-container {
    max-width: 900px;
    max-height: max-content;
    margin: auto;
    padding: 20px;
    position: relative;
  }
  
  .testimonials-carousel-item {
    text-align: center;
    padding: 30px;
    background: #54abee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
  }
  
  .testimonial-card {
    border: none;
    background: transparent;
  }
  
  .testimonial-card-header {
    background-color: #9a65e5;
    color: white;
    font-size: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .testimonial-card-body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .blockquote {
    padding: 20px;
    background: white;
    border-radius: 10px;
    position: relative;
    font-style: italic;
    color: #555;
  }
  
  .blockquote:before {
    /* content: "&ldquo;";  */
    /* Unicode for Left Double Quotation Mark */
    color: #007bff;
    font-size: 4rem;
    position: absolute;
    left: 10px;
    top: -20px;
  }
  
  .blockquote-footer {
    text-align: right;
    font-style: normal;
    color: #999;
  }
  
  @media (max-width: 768px) {
    .testimonials-carousel-container {
      padding: 10px;
    }
  
    .testimonials-carousel-item {
      padding: 15px;
    }
  }
  